header {
  background: url('../images/hero.jpg') no-repeat center center;
  background-size: cover;

  .main-width {
    color: $white;
    position: relative;
  }

  .page-logo {
    display: inline-block;
    margin-top: 23px;

    img {
      width: 150px;
    }
  }

  .phone-number {
    @include font-settings (inherit, 1.2rem, 400);
    display: none;
    background: $dark-green;
    padding: 20px 25px;
    border-radius: 5px;
  }

  h1 {
    @include font-settings (inherit, 2rem, 400);
    line-height: 2.5rem;
    text-align: center;
    padding: 35px 15px 30px;
    span {
      color: $green;
    }
  }

  .header-info {
    @include font-settings (inherit, 1.2rem, 300);
    line-height: 1.8rem;
    text-align: center;
    padding: 0 15px 40px;
  }

  .play-btn {
    display: none;
    background: none;
    border: none;
    color: $white;
    font-style: italic;
    margin: 0 auto;
    p {
      display: flex;
      flex-flow: column;
    }
    img {
      margin: 0 auto 20px;
      width: 30%;
    }
  }
}
