@media (orientation: landscape) {
  header {
    h1 {
      span:last-of-type {
        &::before {
          content: '\A';
          white-space: pre;
        }
      }
    }
  }
  .packages-section {
    .package-item {
      padding-bottom: 40px;
      img {
        width: 50%;
      }
      h4 {
        font-size: 1.6rem;
        margin-bottom: 15px;
      }
      .package-info {
        font-size: 1.4rem;
      }
    }
  }
  .about-section {
    .phone-number {
      margin: 10px 5px 5px;
    }

    button {
      margin: 10px 5px 5px;
      padding: 15px;
    }
  }
  .overview-section {
    overflow-x: visible;
    .overview-table {
      tr th:not(:first-child) {
        min-width: 100px;
      }
      tr th:first-child {
        width: 180px;
        span {
          &::after {
            content: '\A';
            white-space: pre;
          }
        }
      }
      tr:last-of-type td {
        button {
          padding: 10px;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .overview-section {
    overflow-x: visible;
    .overview-table {
      tr th:not(:first-child) {
        min-width: 120px;
      }
      tr th:first-child {
        span {
          &::after {
            content: '\A';
            white-space: pre;
          }
        }
      }
      tr:last-of-type td {
        button {
          padding: 10px 15px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-width {
    width: 90%;
  }

  header {
    h1 {
      @include font-settings (inherit, 2.5rem, 400);
      line-height: 3rem;
      span:last-of-type {
        &::before {
          content: '\A';
          white-space: pre;
        }
      }
    }
    .header-info {
      @include font-settings (inherit, 1.4rem, 300);
      line-height: 2rem;
      text-align: center;
      padding: 0 15px 40px;
    }
  }

  .packages-section {
    padding: 30px 0 0;
    h2 {
      @include font-settings ($white, 2rem, 700);
      margin-bottom: 10px;
    }
    .packages-info {
      @include font-settings ($white, 1.3rem, 300);
    }
    .packages {
      flex-flow: row;
    }
    .package-item {
      padding: 30px;
      margin: 30px 0 0;
      img {
        width: 50%;
      }
      h4 {
        font-size: 1.6rem;
        margin-bottom: 15px;
      }
      .package-info {
        font-size: 1.4rem;
      }
    }
    .package-item:nth-of-type(2) {
      padding-top: 40px;
      margin: 20px 20px 0;
    }
    .package-item:last-of-type {
      margin-bottom: 0;
    }
  }
  .about-section {
    h2 {
      @include font-settings ($dark-gray, 2rem, 700);
    }

    .about-info {
      @include font-settings ($dark-gray, 1.3rem, 300);
    }
    .profit-group {
      display: flex;
      flex-flow: row;
    }
    .profit-item {

      p {
        @include font-settings ($light-gray, 1.4rem, 300);
      }
    }
    .phone-number {
      margin: 20px 5px 5px;
    }

    button {
      margin: 20px 5px 5px;
      padding: 15px;
    }
  }
  .overview-section {
    background: $dark-gray;
    padding: 30px 0 50px;
    text-align: center;
    color: $white;

    h2 {
      @include font-settings ($white, 2rem, 700);
    }

    .overview-info {
      @include font-settings ($white, 1.3rem, 300);
    }

    .overview-table {
      tr th:not(:first-child) {
        min-width: 140px;
      }
      tr th:first-child {
        width: 200px;
        padding: 10px 0;
        span {
          &::after {
            content: '';
            white-space: normal;
          }
        }
      }
      tr:last-of-type td {
        button {
          @include font-settings ($white, 1.6rem, 300);
          padding: 15px 25px;
        }
      }
    }
  }
  .clients-section {
    h2 {
      @include font-settings ($dark-gray, 2rem, 700);
    }

    .clients-info {
      @include font-settings ($dark-gray, 1.3rem, 300);
    }
  }
}

@media (min-width: 1024px) {
  .main-width {
    width: 960px;
    max-width: 100%;
  }
  header {
    position: relative;
    padding-bottom: 70px;
    .main-navigation {
      @include shadow-settings (0, 0, 0, 0, 0, 0, 0, 0);
      background: transparent;
      max-width: 75%;

      ul {
        display: flex;
        justify-content: flex-end;
        margin: 30px 0;

        li {
          border-bottom: none;
          padding: 10px 20px;

          a {
            color: $white;
            text-transform: none;
            font-size: 1.4rem;
          }
        }
      }
    }
    .hamburger-btn {
      display: none;
    }
    .page-logo {
      margin-top: 25px;

      img {
        width: 200px;
      }
    }
    .phone-number {
      display: block;
      position: absolute;
      right: 0;
      top: 22px;
    }
    h1 {
      margin-top: 60px;
      span:last-of-type {
        &::before {
          content: '';
          white-space: normal;
        }
      }
    }
    .header-info {
      @include font-settings (inherit, 1.4rem, 300);
      line-height: 2rem;
      text-align: center;
      width: 75%;
      margin: 0 auto;
    }
    .play-btn {
      display: block;
    }
  }

  .packages-section {
    padding: 50px 0 0;
  }

  .about-section,
  .overview-section,
  .clients-section,
  footer {
    padding: 50px 0;
  }

  .overview-section {
    .overview-table {
      overflow-x: visible;
      tr th {
        width: 200px;
      }
      tr:last-of-type td {

        button {
          padding: 15px 40px;
        }
      }
    }
  }
}

@media (min-width: 1028px) {
  .main-width {
    width: 1200px;
    max-width: 100%;
  }

  .packages {
    justify-content: space-around;
  }

  .packages-info,
  .about-info,
  .overview-info,
  .clients-info {
    margin: 0 auto;
    width: 75%;
  }

  .package-item:nth-of-type(2) {
    margin: 20px 0 0;
  }

  footer ul li a {
    font-size: 1.5rem;
  }
}

@media (min-width: 1600px) {
  .main-width {
    width: 1600px;
    max-width: 100%;
  }

  header {
    padding-bottom: 100px;
    .main-navigation {
      max-width: 70%;

      ul {
        margin: 62px 0;

        li {

          a {
            font-size: 2.1rem;
          }
        }
      }
    }
    .page-logo {
      margin-top: 56px;

      img {
        width: 240px;
      }
    }
    .phone-number {
      font-size: 2.2rem;

      padding: 25px 40px;
      margin-top: 25px;
    }
    h1 {
      font-size: 4.5rem;
      margin-top: 100px;
    }
    .header-info {
      font-size: 2.3rem;
      line-height: 4rem;
      width: 50%;
    }
    .play-btn {
      font-size: 1.9rem;
      img {
        margin: 0 auto 20px;
        width: 40%;
      }
    }
  }

  .packages-info,
  .about-info,
  .overview-info,
  .clients-info {
    margin: 0 auto;
    width: 85%;
  }

  .packages-section {
    padding: 70px 0 0;

    h2 {
      font-size: 4.8rem;
      margin-bottom: 25px;
    }

    .packages-info {
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 50px;
    }

    .package-item {
      padding: 60px 60px 50px;
      margin: 50px 0 0;

      img {
        width: 160px;
        margin-bottom: 85px;
      }

      h4 {
        font-size: 2.7rem;
        margin-bottom: 30px;
      }

      .package-name {
        font-size: 5.3rem;
        margin-bottom: 30px;
      }

      .package-info {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 30px;
      }

      .package-price {
        font-size: 6.6rem;
        margin-bottom: 30px;
      }

      .package-button {
        font-size: 3rem;
        padding: 30px 90px;
      }
    }

    .package-item:nth-of-type(2) {
      margin: 0 50px;
      padding: 110px 60px 50px;
    }
  }

  .about-section {
    padding: 70px 0;

    h2 {
      font-size: 4.8rem;
      margin-bottom: 25px;
    }

    .about-info {
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 50px;
    }

    .profit-item {
      padding: 10px;
      margin: 10px 0;

      img {
        width: 100px;
      }

      h5 {
        font-size: 2.9rem;
        margin: 25px 0 30px;
      }

      p {
        font-size: 1.9rem;
        line-height: 3rem;
        padding: 0 50px;
        margin-bottom: 60px;
      }
    }

    .call-to-action {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .phone-number {
      font-size: 2.2rem;
      padding: 35px 10px;
      width: 324px;
      margin: 30px 30px 35px;
    }

    button {
      font-size: 2.2rem;
      padding: 35px 10px;
      width: 324px;
      margin: 30px;
    }
  }

  .overview-section {
    padding: 70px 0;

    h2 {
      font-size: 4.8rem;
      margin-bottom: 25px;
    }

    .overview-info {
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 50px;
    }

    .overview-table {

      tr th:not(:first-child) {
        font-size: 3.8rem;
        min-width: 400px;
        padding: 30px;
      }

      tr th:first-child {
        font-size: 2.4rem;
        padding: 10px;
        line-height: 3rem;
        width: auto;
      }

      td {

        img {
          margin: 10px;
          width: 40px;
        }
      }

      td:first-of-type {
        font-size: 3.8rem;
        padding: 50px 0;
      }

      tr:last-of-type td {

        button {
          font-size: 3rem;
          padding: 30px 95px;
          margin: 15px 0 20px;
        }
      }
    }
  }

  .clients-section {
    padding: 70px 0;

    h2 {
      font-size: 4.8rem;
      margin-bottom: 25px;
    }

    .clients-info {
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 50px;
    }

    .clients {
      flex-flow: row nowrap;
    }

    img {
      width: 100%;
    }
  }

  footer {
    padding: 70px 0;
    ul {
      flex-flow: row nowrap;
      margin-bottom: 100px;
      li {
        width: 100%;
        a {
          font-size: 1.7rem;
        }
      }
    }
    img {
      width: 250px;
    }
  }
}
