// colors

$white: #FFFFFF;
$black: #000000;
$almost-white: #DDDDDD;
$ultra-light-gray: #E5E5E5;
$light-gray: #797979;
$gray: #817F7F;
$dark-gray: #242424;
$light-green: #7AC531;
$green: #7AC12C;
$dark-green: #7BB515;
$ultra-dark-green: #506D1C;
